
.dropdown-data {
  @apply flex cursor-pointer flex-row h-20 border-t-2 border-black   border-solid rounded-b-md;
}
.dropdown-dot {
  @apply rounded-full h-1 w-1 m-2 bg-gray-500;
}
.pagination-cards-button-prev{
    @apply  rounded-sm py-3 px-10 font-Carousel-text text-sm text-white
}
.pagination-cards-button-next{
    @apply  rounded-sm py-3 px-12 font-Carousel-text text-sm text-white 
}

.topanimemenu{
  @apply pr-3 cursor-pointer hover:text-white
}

.current-page{
  @apply border-2 border-gray-500 text-gray-500 h-8 w-8 font-Carousel-text text-center pt-1
}

.total-page{
  @apply bg-ep-bg border-2 border-indigo-900 text-white h-8 w-8 font-Carousel-text text-center pt-1 
}
.loading{
  @apply text-white font-Carousel-text font-semibold flex w-3/4 pt-80 justify-center align-middle h-full
}

.suggested-title{
  @apply font-normal truncate font-Carousel-text
}

.suggested-data-info{
  @apply flex flex-row mt-1 font-Carousel-text font-light
}

.animechangecolor {
    animation-name: changecolor;
    animation-iteration-count: infinite;
    animation-duration: 1.4s;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    background-color:#5a2e98;
}
.translateloadingdiv{
    transform: translate(-50%,-50%);
}
.span1{
    animation-delay: -0.32s;
}

.span2{
    animation-delay: -0.16s;
}

.span3{
    animation-delay: 0s;
}

.cardText{
  display: -webkit-box;
  height: auto; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@keyframes changecolor {
  from {
    transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}
